.newsletter {
    background: var(--branco);
    color: var(--azul);
    padding: 2.5em 2em;
}

.newsletter__titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--azul);
}

.newsletter__texto {
    font-size: 16px;
    font-weight: 300;
    color: var(--azul);
    margin: 1em 0;
}

.newsletter__email {
    font-size: 16px;
    font-weight: 400;
    color: var(--azul);
    border: 1px solid var(--azul);
    border-radius: 1.5em;
    width: 100%;
    padding: 1em 0 1em;
    background-color: transparent;
}

.newsletter__email::placeholder {
    color: var(--azul);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background: url("../assets/Email.svg") no-repeat;
    background-position: 2em;
}

@media screen and (min-width:1024px) {
    .newsletter {
        display: flex;
        padding: 2.5em 9.3em;
        justify-content: center;
        align-items: center;
        gap: 3.8em;
    }

    .newsletter__titulo {
        font-size: 24px;
    }

    .newsletter__email {
        border-radius: 4em;
        width: 40%;
        padding: 1em 0 1em 2em;
    }

    .newsletter__email::placeholder {
        background-position: 1em;
    }
}

@media screen and (min-width: 1728px) {
    .newsletter {
        padding: 4em 28em;
    }

    .newsletter__titulo {
        font-size: 24px;
    }

    .newsletter__texto, .newsletter__email {
        font-size: 18px;
    }
}